.container{
    margin-bottom: 100px;
}
.carousel-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #f603f6;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom,#f603f6 0%, #f349f3 100% );
    color: white;
    border-radius: 5px;
    border:none;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1{
    background-color: rgb(234, 161, 24);
}
.cat-2{
    background-color: rgb(178, 61, 174);
}
.cat-3{
    background-color: rgb(44, 163, 202);
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px ;
    border-radius: 15px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
   box-shadow:  5px 5px 10px grey;
   border: none;
   border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.backpacks{
    margin-top: 100px;
}
#Contuct_us{
    background-color: #efa0ef;
    padding: 130px;
}
footer{
    text-align: center;
}